
.anyButtonContainer__anyButtonHolder .btn{
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none !important;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 6px 24px;
  font-size: 16px;
  border-radius: 4px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.anyButtonContainer__anyButtonHolder .btn--default{
  color: #fff;
  background-color: var(--global-site-other-color, #6F61E6);
  border-color: var(--global-site-other-color, #6F61E6);
  word-break: break-all;
}