@import url('../parser-to-html/style/image.css');

.image-tool__image-preloader {
	width:50px;
	height:50px;
	border-radius:50%;
	background-size:cover;
	margin:auto;
	position:relative;
	background-color:var(--bg-color);
	background-position:center center
}
.image-tool__image-preloader:after {
	content:"";
	position:absolute;
	z-index:3;
	width:60px;
	height:60px;
	border-radius:50%;
	border:2px solid var(--bg-color);
	border-top-color:var(--front-color);
	left:50%;
	top:50%;
	margin-top:-30px;
	margin-left:-30px;
	animation:image-preloader-spin 2s infinite linear;
	box-sizing:border-box
}
.image-tool__caption[contentEditable=true][data-placeholder]:before {
	position:absolute!important;
	content:attr(data-placeholder);
	color:#707684;
	font-weight:400;
	display:none
}
.image-tool__caption[contentEditable=true][data-placeholder]:empty:before {
	display:block
}
.image-tool__caption[contentEditable=true][data-placeholder]:empty:focus:before {
	display:none
}
.image-tool--empty .image-tool__image,.image-tool--empty .image-tool__caption,.image-tool--loading .image-tool__caption {
	display:none
}
.image-tool .cdx-button {
	display:flex;
	align-items:center;
	justify-content:center
}
.image-tool .cdx-button svg {
	height:auto;
	margin:0 6px 0 0
}
.image-tool--filled .cdx-button,.image-tool--filled .image-tool__image-preloader {
	display:none
}
.image-tool--loading .image-tool__image {
	min-height:200px;
	display:flex;
	border:1px solid var(--border-color);
	background-color:#fff
}
.image-tool--loading .image-tool__image-picture,.image-tool--loading .cdx-button {
	display:none
}

.image-tool--withBackground .image-tool__image {
	padding:15px;
	background:var(--bg-color)
}
.image-tool--withBackground .image-tool__image-picture {
	max-width:60%;
	margin:0 auto
}
.image-tool--stretched .image-tool__image-picture {
	width:100%
}
@keyframes image-preloader-spin {
	0% {
	transform:rotate(0)
}
to {
	transform:rotate(360deg)
}
}